.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.all_posts_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #eeeeee;
	border-radius: 9px;
	box-sizing: border-box;
	width: 600px;
	background: #ffffff;
}

.post_box {
	display: flex;
	width: 400px;
	text-align: left;
	flex-direction: column;
	align-items: center;
	list-style: none;
	border-radius: 4px;
	padding: 0;
}

.header_post {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 450px;
	padding: 30px 0px;
}

.user_img_nickname {
	display: flex;
	flex-direction: row;
	gap: 7px;
	align-items: center;
}

.image_user {
	border-radius: 50%;
	border: 1px solid #818181;
	box-sizing: border-box;
}

.nickname_user {
	color: #000000;
	font-size: 0.9rem;
}

.btn_follow {
	background: none;
	cursor: pointer;
	border: none;
	&:hover {
		color: blue;
	}
}

.post_image {
	max-width: 500px;
	max-height: 600px;
}

.post_info {
	display: flex;
	flex-direction: column;
	width: 450px;
	gap: 6px;
	padding: 20px 0px;
}

.post_info_text {
	display: flex;
	flex-direction: row;
	gap: 5px;
	box-sizing: border-box;
}

.post_title {
	max-width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.post_body_text {
	width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.buttons_view {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 450px;
}

.view {
	font-size: 0.8rem;
	color: #818181;
}
.btn_like_com_sav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.btn_like {
		cursor: pointer;
		background: none;
		border: none;
		&:hover {
			fill: red;
		}
	}

	.btn_com {
		cursor: pointer;
		background: none;
		border: none;
	}
	.btn_saved {
		cursor: pointer;
		border: none;
		background: none;
	}
}

@media screen and (max-width: 375px) {
	.all_posts_container {
		width: 320px;
	}
	.post_box {
		width: 250px;
		margin-bottom: 20px;
	}

	.header_post {
		width: 250px;
		padding: 10px 0px;
		.image_user {
			width: 20px;
			height: 20px;
		}
		.nickname_user {
			font-size: 0.6rem;
		}
		.btn_follow {
			font-size: 0.6rem;
		}
	}
	.post_image {
		max-width: 250px;
		max-height: 300px;
	}
	.post_info {
		width: 250px;
	}
	.post_body_text {
		width: 250px;
	}
	.post_title {
		font-size: 0.6rem;
	}
	.post_info_text {
		font-size: 0.6rem;
	}
	.btn_like_com_sav {
		.btn_like_image {
			width: 10px;
			height: 10px;
		}
		.btn_com_image {
			width: 10px;
			height: 10px;
		}
		.btn_saved_image {
			width: 10px;
			height: 10px;
		}
	}
	.buttons_view {
		width: 250px;
	}
	.view {
		font-size: 0.5rem;
	}
}
