.switch {
	position: relative;
	display: inline-block;
}

.switch > span {
	position: absolute;
	top: 7px;
	pointer-events: none;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	width: 42%;
	text-align: center;
}

input.check_toggle_round_flat:checked ~ .off {
	color: #000aff;
}

input.check_toggle_round_flat:checked ~ .on {
	color: #fff;
}

.switch > span.on {
	left: 0;
	padding-left: 4px;
	color: #000aff;
}

.switch > span.off {
	right: 0;
	padding-right: 4px;
	color: #fff;
}

.check_toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.check_toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.check_toggle_round_flat + label {
	width: 88px;
	height: 31px;
	background-color: #000aff;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}
input.check_toggle_round_flat + label:before,
input.check_toggle_round_flat + label:after {
	display: block;
	position: absolute;
	content: '';
}

input.check_toggle_round_flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #000aff;
	border-radius: 60px;
}
input.check_toggle_round_flat + label:after {
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 42px;
	height: 27px;
	background-color: #fff;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.4s;
	-moz-transition: margin 0.4s;
	-o-transition: margin 0.4s;
	transition: margin 0.4s;
}

input.check_toggle_round_flat:checked + label {
}

input.check_toggle_round_flat:checked + label:after {
	margin-left: 42px;
}
