.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #ffffff;
}

.logo_container {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-direction: row;
	text-decoration: none;
	.logo_text {
		color: #000000;
	}
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 600;
	gap: 30px;
	.link {
		text-decoration: none;
		color: #000000;
		&:hover {
			color: grey;
		}
	}
}

.active-link {
	color: blue;
	font-weight: bold;
}

.btn_profile_header {
	color: #000000;
	font-weight: 600;
	background: none;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	&:hover {
		color: grey;
	}
}
